<html>
<head>
    {% load static %}
    <title>confirm_add</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/base.css' %}">
</head>

<body>
<div class="container">
<div class="jumbotron">
{% for time in collide_time %}
   {% if forloop.first %}
    	<center>
    	If you want to add this list<br>
    	System will delete that list activity below<br>
    	Are You sure ? <br>
   		</center>
   {% endif %}
   {% for activity in user.activity_set.all %}
      {% if activity.day == day and activity.time == time %}
      <div class="container">
       <div class="well well-sm">
          Day is : {{activity.day}}  <br>
          Start Time : {{activity.time}}  <br>
          End time : {{activity.max_time}} <br>
          Detail is : {{activity.detail}} <br>
        </div>
       </div>
      	{% endif %}
   	{% endfor %}
{% empty %}
    	<center>
    	Are You sure ? <br>
   		</center>
{% endfor %}
    	<form id="confirm" method="POST">
    	    <div class="well well-sm" style="pointer-events:none;">
    	    	{% csrf_token %}
    	    	This is new Activity
    	    	    <div class="form-group">
    	    	        <label for="detail">Detail : </label>
            	        <input class="form-control input-sm" id="detail" type="text" name="detail" value={{detail_in}}>
            	    </div>

            	    <div class="form-group">
    	    	        <label for="day_selecter">Day : </label>
                    	<input class="form-control input-sm" id="day_selecter" name="day_selecter"  value={{day}} >
                    </div>

                    <div class="form-group">
                        <label for="start_time">Start Time : </label>
            	        <input class="form-control input-sm" id="start_time" type="number"  name="start_time" value={{start}} >
            	    </div>

            	    <div class="form-group">
            	        <label for="how_many_hour">Spend Time : </label>
            	        <input class="form-control input-sm" id="how_many_hour" type="number"  name="how_many_hour"
            	        value={{how_many_hour}}>
            	   </div>
            </div>

            <center>
    			<input type="submit" style="width:40%;height:15%" id="yes_input" class="btn-primary" value="Yes" formaction="{% url 'schedule:add_new_activity' user_id=user.pk %}" ></input>
    			<input type="submit" style="width:40%;height:15%" id="no_input" class="btn-danger" value="No" formaction="{% url 'schedule:user_page' user_id=user.pk %}" ></input>
    	    </center>
    	</form>
</div>
</div>
</body>
</html>
