<html>
<head>
	<title>schedule</title>
</head>

<body>
<center>
    <h1>Hi , Who are you ?</h1>
    <br><br><br>
	<table id="user_list">
        {% for user in user_list %}
        	<tr><td><a id='{{user.pk}}' href='/{{user.pk}}')>{{ user.name }}</a><td></tr>
        {% endfor %}
    </table>
    <br><br><br>
	<form method="post">
        {% csrf_token %}
		<input id="new_user" type="text" name="user_name" placeholder="user name" required>
		<input type="submit" value="New User">
    </form>

</center>
</body>
</html>
